/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.welcome-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.button-container {
    margin: 20px;
}

.button {
    background-color: #00008B; /* DarkBlue */
    border: none;
    color: lightgoldenrodyellow;
    padding: 16px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0000FF; /*Blau*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-button {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #e7e7e7;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button.home {

}

.nav-button.center {

}

.nav-button.right {

}

.nav-button:hover {
    background-color: #00008B;
    color: lightgoldenrodyellow;
}
