{% extends 'layout.html' %}

{% block title %}
    Change Password - Lumen
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Change Your Password</h1>
        <form method="post">
            Old Password: <input type="password" name="old_password" required><br>
            New Password: <input type="password" name="new_password" required><br>
            Confirm New Password: <input type="password" name="confirm_new_password" required><br>
            <input type="submit" value="Update Password" class="button">
        </form>
    </div>
{% endblock %}
