{% extends 'layout.html' %}

{% block title %}
    Learning Sets - Lumen
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Flashcard Decks</h1>
        <a href="/new-deck" class="button">Create New Deck</a>
        <ul>
            {% for deck in decks %}
                <li>
                    <span>{{ deck.name }} - {{ deck.description }}</span>
                    <div style="float: right;">
                        <a href="/deck/{{ deck.id }}/add-flashcard" class="button">Add Flashcard</a>
                        <form action="/deck/{{ deck.id }}/delete" method="post" style="display: inline;">
                            <button type="submit" class="button delete" onclick="return confirm('Are you sure you want to delete this deck?')">Delete Deck</button>
                        </form>
                    </div>
                    <div style="clear: both;"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
