{% extends 'layout.html' %}

{% block title %}
    Learn - {{ deck.name }}
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Learning: {{ deck.name }}</h1>
        <div id="flashcards">
            {% for flashcard in flashcards %}
                <div class="flashcard" id="card-{{ flashcard.id }}" style="display: none;">
                    <p><strong>Question:</strong> {{ flashcard.question }}</p>
                    <p><strong>Answer:</strong> <span style="display: none;" class="answer">{{ flashcard.answer }}</span></p>
                    <button class="button" onclick="toggleAnswer({{ flashcard.id }})">Show/Hide Answer</button>
                    <br>
                    <button class="button" onclick="markCard({{ flashcard.id }}, true)">Memorized</button>
                    <button class="button" onclick="markCard({{ flashcard.id }}, false)">Not Memorized</button>
                </div>
            {% endfor %}
        </div>
        <button id="next-btn" class="button" onclick="nextCard()">Next Card</button>
        <div id="success-message" style="display: none;">
            <h2>Success! You have learned all flashcards.</h2>
            <button class="button" onclick="location.href='/learning-hub'">Go to Learning Hub</button>
        </div>
    </div>

    <script>
        var flashcards = {{ flashcards | tojson }};
        var currentCardIndex = 0;
        var unknownFlashcards = [];
        var currentCardId = flashcards[currentCardIndex].id;

        function toggleAnswer(cardId) {
            var answer = document.querySelector('#card-' + cardId + ' .answer');
            answer.style.display = (answer.style.display == 'none') ? 'block' : 'none';
        }

        function markCard(cardId, knewIt) {
            var currentCard = document.getElementById('card-' + cardId);
            currentCard.style.display = 'none';
            if (!knewIt) {
                unknownFlashcards.push(cardId);
            }
            nextCard();
        }

        function nextCard() {
            if (unknownFlashcards.length === 0 && currentCardIndex >= flashcards.length - 1) {
                document.getElementById('next-btn').style.display = 'none';
                document.getElementById('success-message').style.display = 'block';
                return;
            }

            currentCardIndex++;
            if (currentCardIndex >= flashcards.length) {
                currentCardIndex = 0;
                flashcards = unknownFlashcards.map(id => flashcards.find(card => card.id === id));
                unknownFlashcards = [];
            }
            currentCardId = flashcards[currentCardIndex].id;
            document.getElementById('card-' + currentCardId).style.display = 'block';
        }

        window.onload = function() {
            document.getElementById('card-' + currentCardId).style.display = 'block';
        }
    </script>
{% endblock %}
