{% extends 'layout.html' %}

{% block title %}
    Learning Sets - Lumen
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Flashcard Decks</h1>
        <a href="/new-deck" class="button">Create New Deck</a>
        <ul>
            {% for deck in decks %}
                <li class="deck-item">
                    <span class="deck-name">{{ deck.name }}</span> - <span class="deck-description">{{ deck.description }}</span>
                    <div class="deck-actions">
                        <!-- Learn button (future implementation could link to a learning mode view) -->
                        <a href="/deck/{{ deck.id }}/learn" class="button">Learn</a>
                        <!-- Edit button takes you to the view_deck.html -->
                        <a href="/deck/{{ deck.id }}" class="button">Edit</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
