{% extends 'layout.html' %}

{% block title %}
    Learning Hub - Lumen
{% endblock %}

{% block content %}
    <div class="content-container-index">
        <div class="content-text">
            <h1>Welcome to Your Learning Hub</h1>
            <p>Here you can manage your learning sets, view your profile, or update settings.</p>
            <div>
                <a href="/learning-sets" class="button">Manage Learning Sets</a>
                <a href="/browse-decks" class="button">Browse Flashcard Decks</a>
            </div>
        </div>
        <div class="content-image">
            <img src="{{ url_for('static', filename='/lumen_lightbulb.jpg') }}" alt="Lumen Logo">
        </div>
    </div>
{% endblock %}
