{% extends 'layout.html' %}

{% block title %}
    Login - Lumen
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Login</h1>
        <form method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="button">Login</button>
            <p>Don't have an account? <a href="/register">Register Here</a></p>
        </form>
    </div>
{% endblock %}
